<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Add Event</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" id="title-input" placeholder="Title">
        <input type="text" name="description" id="description-input" placeholder="Description">
        <input type="date" name="date" id="date-input" placeholder="Date">
        <input type="text" name="location" id="location" placeholder="Location">

        <input type="submit" value="Add">
    </form>

    <a href="/events"><button>All Events</button></a>
    
</body>
</html>