<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <label for="search">Search: </label>
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>


    <a href="add_event/"><button>Add event</button></a>
    <a href="/events/"><button>All Events</button></a>
    <h1>Planned Events</h1>
    <ol>
    {% for event in events %}
    <li>
        <h3>Title: {{ event.title }}</h3>
        <h3>Desc: {{ event.descritpion }} </h3>
        <h3>Date: {{ event.date }}</h3>
        <h3>Location: {{ event.location }}</h3>
        <br>
    
    </li>

    {% endfor %}
    </ol>
    

</body>
</html>